h1 {
color: black;
font-family: Agatha_Caroline;
text-align: center;
}



.header-wrap {
border: solid 10px red;
}

.navigation-wrap {
border: solid 10px orange;
width : 300px;
}

.page-list-wrap {
border: solid 10px pink;

}

.logo {
border: solid 10px yellow;
height : 200px;
width : 200px;

}

.images-gallery-wrap {
border: solid 10px green;

}

img {
height: 150px; width: 150px;
border-radius: 15px;
padding: 10px;
}

.body {
display : flex;
border: solid 10px blue;
}

@font-face {
font-family: "Agatha_Caroline";
src: url("./fonts/Agatha_Caroline/Agatha_Carolinevfc.eot");
src: url("./fonts/Agatha_Caroline/Agatha_Carolinevfc.woff") format("woff"),
url("./fonts/Agatha_Caroline/Agatha_Carolinevfc.otf") format("opentype"),
url("./fonts/Agatha_Caroline/Agatha_Carolinecfc.svg#filename") format("svg");
}

